<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135960747007-65ai14mt85r0bsjh3202qjku1rb5b1gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135960747007-65ai14mt85r0bsjh3202qjku1rb5b1gt</string>
	<key>API_KEY</key>
	<string>AIzaSyBZTsYxPJ3adqf2XfcMD9unpT1LUpmoONg</string>
	<key>GCM_SENDER_ID</key>
	<string>135960747007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nishen.nibm-cafe</string>
	<key>PROJECT_ID</key>
	<string>cafe-nibm-97050</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-nibm-97050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135960747007:ios:1c429c009e96478ae065ca</string>
</dict>
</plist>